
body {
    background-color: saddlebrown;
    text-align: center;
    color:black;
    font-family: monospace;
}

a {
    color: beige;
    text-decoration: none;
}

a:hover {
    color: burlywood;
}


main {
    max-width: 1200px; 
    width: 90%; 
    margin: 0 auto; 
    text-align: left;
}


h2 {
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}

p {
    text-align: center;
}


@media screen and (min-width: 601px) and (max-width: 980px) {
    body {
        background-color: peru; 
    }
    main {
        width: 95%; 
    }
    h2 {
        font-size: 24px;
    }
}


@media screen and (min-width: 370px) and (max-width: 600px) {
    body {
        background-color: sienna; 
    }
    main {
        width: 98%; 
        font-size: 14px; 
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 12px;
    }
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
