body{
    background-color: saddlebrown;
    text-align: center;
    color: khaki;
    font-family: monospace;
}

a {
    color: beige;
    text-decoration: none;
}

a:hover{
    color: burlywood;
}

main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;
}


figure{
    text-align: center;
    font-style: italic;
}



