<h1>Max Duale | ITIS 3135 | Home Page</h1>
<nav>
    <a href="./">Home Page</a>
    || 
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="muteddonkey.com/index.html">Muted Donkey</a>
    ||
    <a href="website_evaluations.html">Website Evaluations</a>
    ||
    <a href="stuff/badpage.html">CRAPPY</a>
    ||
    <a href="hobby/index.html">Hobby</a>
    ||
    <a href="tables.html">Tables</a>
    ||
    <a href="byo_intro.html">BYO Intro Page</a>
    ||
    <a href="project_overview.html">Client Project</a>
    ||
    <a href="/itis3135/project/index.html">Clint Project Page</a>
</nav>
